/* You can add global styles to this file, and also import other style files */
/* .navbar-nav .nav-link.active{
    color: red;
} */

.page-wrapper {
  min-height: 100vh;
  position: relative;
}
.w-action{
  width: 110px;
}
